---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="How do we proceed ?"
				tagline="Thanks for stopping by. Read below to learn more about how we will proceed with your project."
			>
				<img
					width="1553"
					height="873"
					src="/assets/1.jpg"
					alt=""
				/>
			</Hero>

			<section>
				<h2 class="section-title">Step 1 : The Project</h2>
				<div class="content">
					This is the first and most important step. During this phase, the client will provide all relevant information regarding the project. We must ensure that we have a clear understanding of the project requirements. Additionally, we will agree on the deadline, pricing, and terms and conditions. Once this step is completed and accepted by the client, the order will be processed and cannot be canceled.
				</div>
			</section>
			<section>
				<h2 class="section-title">Step 2 : Creation</h2>
				<div class="content">
					<p>Depending on the project and the number of commissions I’m handling, the timeline can range from 2-3 days to 14-15 days. I will inform you in advance if I am experiencing a high workload or if your project will be completed more quickly. During this phase, I will provide as many updates as possible about your project via Discord.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Step 3 : Payment</h2>
				<div class="content">
					<p>Once the project is completed, we will proceed with in-game testing. If the testing meets your satisfaction, we will then proceed with payment. Payment can be made via PayPal, Stripe, or Robux if you are unable to pay in USD/Euros. Additionally, I will ask you to provide proof of the money transfer before I deliver the final project to you.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Step 4 : Installation</h2>
				<div class="content">
					<p>Once proof of the money transfer is provided, I will send you the asset and assist you with installing it correctly in your game. I will remain available for 5 days to help with any issues or minor adjustments (such as changing settings, not a complete project overhaul), and this support will be provided at no additional cost. If you require assistance beyond the 5-day period, additional charges will apply.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
